@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}

main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/***************       CONTAINER STYLING        ***************/
.container{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    margin-bottom: 30px;
}

.container > div{
    margin-bottom: 20px;
}

/***************       IMG-CONTAINER STYLING        ***************/
.img-container{
    position: relative;
}

.img-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.4;
}
/***************       TEXT-CONTAINER STYLING        ***************/
.text-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.text-container > div{
    margin-bottom: 20px;
}

.text-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}

h1{
    font-size: 1.75rem;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.purple-text{
    color: hsl(277, 64%, 61%);
}

/***************       STAT-CONTAINER STYLING        ***************/
.stats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container > div{
    margin-bottom: 10px;
}

.stat{
    text-align: center;
}


.stat > h2{
    font-weight: 600;
}

.stat > p{
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}

footer{
    margin-top: auto;
}
@media screen and (min-width: 750px){
    .container{
        flex-direction: row;
        align-items: center;
        min-width: 725px;
        gap: 20px;
    }

    .container > div{
        margin: 0px;
    }

    .img-container{
        order: 2;
        align-self: stretch;
        width: fit-content;
    }

    .img-container > img{
        object-fit: cover;
    }

    .text-container{
        order: 1;
        align-items: center;
        margin-bottom: 0px;
        padding: 25px;
    }

    .text-container > div{
        width: 100%;
        margin: 0px;
    }

    .text-container > .text-content{
        text-align: left;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .stats-container{
        flex-direction: row;
        justify-content: space-evenly;
    }
}